.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-logo {
  width: 200px; /* Kích thước cố định cho logo */
  height: auto;
  opacity: 0.1; /* Độ mờ của logo */
  object-fit: contain;
  transform: rotate(0deg); /* Có thể thêm góc xoay nếu muốn */
} 